body{
    padding: 25px;
    background-color: #69318C;
}

.container_for_clientslist{
    justify-content: center;
    background-color: blue;
    margin: 30px;
    padding: 15px;
    border-radius: 10px;


}

.client_cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: lightblue;
    padding: 7px;
    border-radius: 10px;
    margin: 10px;
}

.client_info {
    display: grid;
    grid-template-columns: 150px 200px 100px; /* Define larguras fixas */
    gap: 10px;
    flex-grow: 1; /* Faz a info ocupar o espaço disponível */
}

.client_cards .view {
    padding: 5px 10px;
    background-color: #4CAF50; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.client_cards .view:hover {
    background-color: #45a049; /* Efeito de hover no botão */
}


.title {
    color: #5C6AC4;
}
